**/.vs
**/.git
**/.idea
**/bin
**/obj
**/node_modules
**/*.user
**/*.suo
**/Dockerfile*
**/docker-compose*
**/.dockerignore
**/logs
**/uploads
**/dev-uploads
**/*.log
**/TestResults
**/coverage
appsettings.*.local.json
.env
.env.*
!.env.example
README.md
docs/
